.cards {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.card_left {
  flex: 1;
  max-width: 350px;
  padding-right: 40px;
  border-right: 1px solid #E8E8E8;
}

.slider {}


.card_right {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.current {
  text-align: right;
}

.current p {
  font-family: var(--font-heading);
  color: var(--color-active);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.label {
  color: var(--color-secondary);
  font-family: var(--font-body);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

.outcome {
  margin-top: 10px;
  text-align: right;
}

.outcome p {
  color: #BB4430;
  font-family: var(--font-heading);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media(max-width: 1250px) {
  .cards {
    flex-direction: column;
  }

  .card_left {
    max-width: 350px;
    padding-right: 0px;
    border-right: none
  }

  .card_right {
    max-width: 350px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0px;
  }

  .outcome {
    margin-top: 0px;
  }

  .current,
  .outcome {
    text-align: left;
  }

  .current p,
  .outcome p {
    font-size: 16px;
  }
}