.swiper-slide {
  position: relative;
  background: linear-gradient(#197BBD, #3391D0);
  width: 100%;
  height: 206px;
  border-radius: 26px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06));
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;

  display: inline-flex;
  flex-direction: column;
}

.swiper-slide img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 40%;
  object-fit: contain;
}

.name-app,
.card-number span {
  color: #FFF;
  font-family: var(--font-heading);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-number span {
  margin-left: 5px;
}

.card-number {
  color: #FFF;
  font-family: var(--font-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1;
  display: flex;
  align-items: center;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}

.card-owner,
.card-date {
  display: flex;
  flex-direction: column;
}

.card-owner__title,
.card-date__title {
  color: #FFF;
  font-family: var(--font-heading);
  font-size: 7.178px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-owner__name,
.card-date__name {
  color: #FFF;
  font-family: var(--font-body);
  font-size: 7.178px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.swiper-container {
  position: relative;
  padding: 0 20px;
}

.swiper-button {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.swiper-button img {
  width: 12px;
  height: 12px;
  pointer-events: none;
}

.swiper-next {
  right: 2px;
}

.swiper-prev {
  left: -9px;
}