html,
body {
  background-color: #F0F0F0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: var(--font-body);
}

.wrapper {
  /* padding: 30px 40px; */
  padding: 0 40px;
  background-color: #fff;
  border-radius: 60px;
  margin: 60px auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: auto minmax(200px, 1fr);
  grid-template-rows: minmax(110px, auto) 1fr auto;
  grid-column-gap: 45px;
  grid-row-gap: 40px;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer"
  ;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@media(max-width: 768px) {
  .wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 15px;
  }
}